include pug/mixins

block vars
	-
		let baseDir = './';

		baseDir = 'https://raw.githubusercontent.com/alskra/rhesus-factor-emails/master/src/';

	-
		const fontFamilyProximaNova = '\'Proxima Nova\', Arial, sans-serif';
		const fontFamilyHelveticaNeueCyr = '\'HelveticaNeueCyr\', Arial, sans-serif';

		let mainHeight = null;

		let mainStyle = {
			padding: '0 40px 85px',
			'background-image': `
				url(${baseDir}images/christmas/bg-top.png),
				url(${baseDir}images/christmas/bg-bottom.png),
				url(${baseDir}images/christmas/bg.jpg)
			`,
			'background-repeat': 'no-repeat',
			'background-position': '50% -47px, left calc(50% + 24px) bottom -23px, 50%',
			'background-size': 'auto, auto, cover',
			'background-color': '#ffffff'
		};

		let mainAlign = 'center';
		let logoAlign = 'center';
		let logoPadding = '65px 0 46px';
		let colorAccent = '#3485d6';

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
html
	head
		style.
			@font-face {
				font-family: 'HelveticaNeueCyr';
				src: url('#{baseDir}fonts/HelveticaNeueCyr-Roman.eot');
				src: local('HelveticaNeueCyr-Roman'),
				url('#{baseDir}fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
				url('#{baseDir}fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
				url('#{baseDir}fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
				font-weight: 400;
				font-style: normal;
			}

			@font-face {
				font-family: 'HelveticaNeueCyr';
				src: url('#{baseDir}fonts/HelveticaNeueCyr-Bold.eot');
				src: local('HelveticaNeueCyr-Bold'),
				url('#{baseDir}fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
				url('#{baseDir}fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
				url('#{baseDir}fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
				font-weight: 700;
				font-style: normal;
			}

			@font-face {
				font-family: 'Proxima Nova';
				src: url('#{baseDir}fonts/ProximaNova-Regular.eot');
				src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
				url('#{baseDir}fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
				url('#{baseDir}fonts/ProximaNova-Regular.woff') format('woff'),
				url('#{baseDir}fonts/ProximaNova-Regular.ttf') format('truetype');
				font-weight: 400;
				font-style: normal;
			}

			@font-face {
				font-family: 'Proxima Nova';
				src: url('#{baseDir}fonts/ProximaNova-Bold.eot');
				src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
				url('#{baseDir}fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
				url('#{baseDir}fonts/ProximaNova-Bold.woff') format('woff'),
				url('#{baseDir}fonts/ProximaNova-Bold.ttf') format('truetype');
				font-weight: 700;
				font-style: normal;
			}

			body {
				margin: 0;
			}

	body
		+table()(width="100%")
			tr
				+td()(
					align="center"
				)
					+table()(
						width="100%"
						align="center"
						style={
							width: '100%',
							'max-width': '460px'
						}
					)
						tr
							// Main
							+td()(
								height=mainHeight
								style=mainStyle
							)
								+table()(
									width="100%"
								)
									tr
										// Logo
										block logo
											+td()(
												align=logoAlign
												style={
													padding: logoPadding
												}
											)
												+a({
													'display': 'inline',
													'text-decoration': 'none'
												})(href="//lab62.ru")
													+img({
														'display': 'inline',
													})(
														src=`${baseDir}images/logo.png`
														width="212"
														height="53"
													)

									tr
										+td()(
											align=mainAlign
											style={
												'padding-bottom': '17px'
											}
										)
											+span({
												color: '#323232',
												'font': `34px ${fontFamilyHelveticaNeueCyr}`,
												'line-height': '46px'
											})
												b
													block title
														| Поздравляем с&nbsp;Рождеством!

									tr
										+td()(
											align=mainAlign
											style={
												'padding-bottom': '30px'
											}
										)
											span(
												style={
													display: 'block',
													width: '42px',
													height: '4px',
													'border-radius': '2px',
													'background-color': colorAccent
												}
											)

									tr
										block content
											+td-content()
												| Искренне поздравляем вас с&nbsp;Рождеством Христовым! Желаем вам свежих сил для новых свершений, творческих успехов в&nbsp;профессиональной деятельности, семейного согласия, благосостояния, верных друзей и&nbsp;надежных партнеров в&nbsp;добрых делах!

									tr
										+td()(
											align=mainAlign
										)
											+span({
												color: '#3485d6',
												font: `14px ${fontFamilyHelveticaNeueCyr}`,
												'line-height': '1.25'
											})
												b Берегите себя и будьте здоровы!

									block action

						tr
							// Footer
							+td()(
								style={
									padding: '26px 40px 22px',
									'background-color': colorAccent
								}
							)
								+table()(width="100%")
									tr
										+td()(align="center")
											+table()
												tr
													+td()(
														valign="middle"
														style={
															'padding-right': '5px'
														}
													)
														+img()(
															src=`${baseDir}images/copyright.png`
															width="9"
															height="9"
														)

													+td()(valign="middle")
														+span({
															color: '#ffffff',
															font: `16px ${fontFamilyProximaNova}`
														})
															| Резус-Фактор Company, 2020

									tr
										+td()(
											align="center"
											style={
												'padding': '18px 0 20px'
											}
										)
											+table()
												tr
													+td()(valign="middle")
														+table()
															tr
																+td()(
																	valign="middle"
																	style={
																		'padding-right': '8px'
																	}
																)
																	+img()(
																		src=`${baseDir}images/world${colorAccent === '#e53324' ? '-red' : ''}.png`
																		width="24"
																		height="24"
																	)

																+td()(valign="middle")
																	+a({
																		color: '#ffffff',
																		font: `16px ${fontFamilyProximaNova}`,
																		'text-decoration': 'none'
																	})(href="//lab62.ru")
																		| lab62.ru

													+td()(
														valign="middle"
														style={
															'padding-left': '45px'
														}
													)
														+table()
															tr
																+td()(
																	valign="middle"
																	style={
																		'padding-right': '8px'
																	}
																)
																	+img()(
																		src=`${baseDir}images/phone${colorAccent === '#e53324' ? '-red' : ''}.png`
																		width="24"
																		height="24"
																	)

																+td()(valign="middle")
																	+a({
																		color: '#ffffff',
																		font: `16px ${fontFamilyProximaNova}`,
																		'text-decoration': 'none'
																	})(href="tel:+74912466335")
																		| +7&nbsp;(4912)&nbsp;46-63-35

									tr
										+td()
											+table()(width="100%")
												tr
													+td()(align="center")
														+span({
															color: '#ffffff',
															font: `14px ${fontFamilyProximaNova}`,
															'line-height': '17px'
														})
															| Вы&nbsp;можете отказаться от&nbsp;получения писем, перейдя
															|
															+a({
																color: '#ffffff',
																font: `14px ${fontFamilyProximaNova}`,
																'line-height': '17px',
																display: 'inline',
																'text-decoration': 'underline'
															})(href="//lab62.ru")
																b по&nbsp;этой ссылке
