include pug/mixins

block vars
	-
		let baseDir = './';
		const jsv = 'javascript:void(0)';

		baseDir = 'https://raw.githubusercontent.com/alskra/rhesus-factor-emails/master/src/';

	-
		const fontFamilyProximaNova = '\'Proxima Nova\', Arial, sans-serif';
		const fontFamilyHelveticaNeueCyr = '\'HelveticaNeueCyr\', Arial, sans-serif';

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
html
	head
		style.
			body {
				margin: 0;
			}

	body
		+table()(width="100%")
			tr
				+td()(
					align="center"
				)
					+table()(
						width="100%"
						align="center"
						style={
							width: '100%',
							'max-width': '460px'
						}
					)
						// Main
						tr
							+td()(
								height="611"
								style={
									padding: '0 40px 45px',
									'background-image': `
										url(${baseDir}images/christmas/bg-top.png),
										url(${baseDir}images/christmas/bg-bottom.png),
										url(${baseDir}images/christmas/bg.jpg)
									`,
									'background-repeat': 'no-repeat',
									'background-position': '50% -47px, left 88% bottom -23px, 50%',
									'background-size': 'auto, auto, cover'
								}
							)
								+table()(
									width="100%"
								)
									tr
										+td()(
											align="center"
											style={
												padding: '65px 0 46px'
											}
										)
											+a({
												'display': 'inline',
												'text-decoration': 'none'
											})(href="//lab62.ru")
												+img({
													'display': 'inline',
												})(
													src=`${baseDir}images/logo.png`
													width="212"
													height="53"
												)

									tr
										+td()(
											align="center"
											style={
												'padding-bottom': '17px'
											}
										)
											+span({
												color: '#323232',
												'font': `34px ${fontFamilyHelveticaNeueCyr}`,
												'line-height': '46px'
											})
												b Поздравляем с&nbsp;Рождеством!

									tr
										+td()(
											align="center"
											style={
												'padding-bottom': '30px'
											}
										)
											span(
												style={
													display: 'block',
													width: '42px',
													height: '4px',
													'border-radius': '2px',
													'background-color': '#3485d6'
												}
											)

									tr
										+td()(
											align="center"
											style={
												'padding-bottom': '48px'
											}
										)
											+span({
												color: '#323232',
												font: `16px ${fontFamilyHelveticaNeueCyr}`,
												'line-height': '24px'
											})
												| Искренне поздравляем вас с&nbsp;Рождеством Христовым! Желаем вам свежих сил для новых свершений, творческих успехов в&nbsp;профессиональной деятельности, семейного согласия, благосостояния, верных друзей и&nbsp;надежных партнеров в&nbsp;добрых делах!

									tr
										+td()(
											align="center"
										)
											+span({
												color: '#3485d6',
												font: `14px ${fontFamilyHelveticaNeueCyr}`,
												'line-height': '1.25'
											})
												b Берегите себя и будьте здоровы!

						// Footer
						tr
							+td()(
								style={
									padding: '26px 40px 22px',
									'background-color': '#3485D6'
								}
							)
								+table()(width="100%")
									tr
										+td()(align="center")
											+table()
												tr
													+td()(
														valign="middle"
														style={
															'padding-right': '5px'
														}
													)
														+img()(
															src=`${baseDir}images/copyright.png`
															width="9"
															height="9"
														)

													+td()(valign="middle")
														+span({
															color: '#ffffff',
															font: `16px ${fontFamilyProximaNova}`
														})
															| Резус-Фактор Company, 2020

									tr
										+td()(
											align="center"
											style={
												'padding': '18px 0 20px'
											}
										)
											+table()
												tr
													+td()(valign="middle")
														+table()
															tr
																+td()(
																	valign="middle"
																	style={
																		'padding-right': '8px'
																	}
																)
																	+img()(
																		src=`${baseDir}images/world.png`
																		width="24"
																		height="24"
																	)

																+td()(valign="middle")
																	+a({
																		color: '#ffffff',
																		font: `16px ${fontFamilyProximaNova}`,
																		'text-decoration': 'none'
																	})(href="//lab62.ru")
																		| lab62.ru

													+td()(
														valign="middle"
														style={
															'padding-left': '45px'
														}
													)
														+table()
															tr
																+td()(
																	valign="middle"
																	style={
																		'padding-right': '8px'
																	}
																)
																	+img()(
																		src=`${baseDir}images/phone.png`
																		width="24"
																		height="24"
																	)

																+td()(valign="middle")
																	+a({
																		color: '#ffffff',
																		font: `16px ${fontFamilyProximaNova}`,
																		'text-decoration': 'none'
																	})(href="tel:+74912466335")
																		| +7&nbsp;(4912)&nbsp;46-63-35

									tr
										+td()
											+table()(width="100%")
												tr
													+td()(align="center")
														+span({
															color: '#ffffff',
															font: `14px ${fontFamilyProximaNova}`,
															'line-height': '17px'
														})
															| Вы&nbsp;можете отказаться от&nbsp;получения писем, перейдя
															|
															+a({
																color: '#ffffff',
																font: `14px ${fontFamilyProximaNova}`,
																'line-height': '17px',
																display: 'inline',
																'text-decoration': 'underline'
															})(href="//lab62.ru")
																b по&nbsp;этой ссылке
